@use '@/styles/variables' as *;

.search {
	display: flex;
	
	flex-direction: column;
	gap: 5px;
	padding: 15px;	

	span {
		color: $redError;
		font-weight: 700;
		font-size: 1.2rem;
		padding-left: 12px;
	}

	div {
		display: flex;
		flex-direction: row;
		gap: 5px;
		
		input {
			padding: 5px;
			border: none;
			outline: none;
			width: 100%;
			border-bottom: 2px solid $sandBg;
	
			&:active,&:focus {
				border-bottom: 2px solid $greenBg;
			}
		}
	
		button {
			background-color: $greenBg;
			border-radius: 8px;
			cursor: pointer;
			font-weight: 500;
			padding: 6px 12px;
			text-align: center;
		}
	}

	
}
