@import '../../index.scss';

.pagination {

    ul {
        display: flex;
        gap: 0.5rem;
        width: 100%;

        list-style: none;

        .page-item {
            list-style: none;

            button{
                display: block;
                width: 1.2rem;
                height: 1.6rem;
                text-decoration: none;

                border: none;

                text-align: center;

                font-family: "Poppins", sans-serif;
                font-weight: 400;

                background-color: $Iconblue;
                color: $MainWhite;

                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .active-icon{
        button{
            background-color: red;
        }
      
    }
}



