.mainTable {
    width: 100%;

    border-collapse: collapse;

    border-radius: 10px 10px 0 0;

    box-shadow:
        1px -1px var(--table-border),
        -1px -1px var(--table-border);
}

.tableHeader {
    height: 50px;

    border-bottom: 1px solid var(--table-border);

    text-align: center;
}

.tableHeaderLine th {
    padding: 0 20px;

    font-weight: normal;

    background-color: var(--table-header);
}

/* BORDER */
.borderOne {
    border-radius: 10px 0 0;
}
.borderTwo {
    cursor: pointer;

    border-radius: 0 10px 0 0;
}

@media (max-width: 1050px) {
    .columCompany {
        display: none;
    }
}

@media (max-width: 810px) {
    .columleaflet {
        display: none;
    }
}

@media (max-width: 600px) {
    .columData {
        display: none;
    }
}
