*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#header {
  font-family: sans-serif;
  color: white;
  padding: 10px 20px;
  background-color: rgb(143, 143, 143);

  .h-inp-conteiner{
    width: 100%;
    display: flex;
    margin: 10px 0px;

    .h-inp {
      border: none;
      outline: none;
      padding: 10px 20px;
      font-size: 16px;
      margin-right: 20px;
      width: 50%;
    }
     #search-btn {
      border: none;
      border-radius: 3px;
      cursor: pointer;
      padding: 10px 20px;
    }
  }
}
.ls-wrapper {
  padding: 10px;
}