.filters {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;

    @include sm-mobile {
        flex-direction: column;
        gap: 10px;
    }

    input {
        height: 40px;
        border: 1px solid #E4E4E7;
        padding: 8px 12px;
        border-radius: 6px;
        width: 300px;

        @include sm-mobile {
            width: 100%;
        }
        
        &:focus {
            outline-color:#71717A;
        }
    }
}