@use '@/styles/variables' as *;

.listWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.mainList {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 0 5px;
	max-width: 1100px;

	@media (max-width: $screen-mobile) {
		padding: 0 30px;
	}
}

.itemTopics {
	display: flex;
	justify-content: space-between;
	background-color: $sandBg;
	color: $snow;
	padding: 10px 69px;
	font-weight: 700;
	text-transform: capitalize;
	border-radius: 10px 10px 0 0;

	li {
		padding: 0 78px;
	}

	.publishDate {
		display: flex;
		gap: 5px;

		button[data-sort='asc'] {
			transform: rotate(180deg);
		}
	}

	@media (max-width: $screen-mobile) {
		display: none;
	}
}

.mobileSort {
	display: none;
	gap: 5px;

	div {
		display: flex;
		gap: 5px;
		button {
			border-radius: 8px;
			border-width: 0;
			color: $black;
			cursor: pointer;
			margin: 0;
			padding: 8px 8px;
			text-align: center;
			border: solid 1px $sandBg;
		}
	}

	@media (max-width: $screen-mobile) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.pagination {
	display: flex;
	gap: 20px;
	padding: 15px;

	@media (max-width: $screen-mobile) {
		justify-content: space-between;
	}

	.pageButton {
		border-radius: 8px;
		border-width: 0;
		color: $black;
		cursor: pointer;
		margin: 0;
		padding: 10px 12px;
		text-align: center;
		border: solid 1px $sandBg;

		&:disabled {
			cursor: not-allowed;
			color: $sandBg;
		}
	}
}
