@use '../../sass/variables' as *;

.product-list{
  max-width: 1200px;
  padding: 10px;
  
  .back-page{
    @extend .flex-center;
    justify-content: start;
    margin-bottom: 1rem;
    text-decoration: none;
  }

  .table-container {
    overflow-x: auto;
    width: 100%; 
    border: 1px solid #DDD;
    border-radius: 5px;
  }

  table{
    border-collapse: collapse;
    width: 100%;
    
    thead{
      border-bottom: 1px solid #ddd;
      tr{
        th{
          border: none;
          padding: 1rem;
          font-size: .9rem;
        }
      }  
    }
    
    tbody{
      tr{
        border-bottom: 1px solid #ddd;
        transition: all ease .3s;
        
        td{
          max-width: 150px;
          text-align: center;
          padding: 1rem;
          cursor: pointer;
          font-size: .8rem;
          
          .pdf-icon{
            font-size: 1.5rem;
            text-decoration: none;
            color: #FF0000;

          }
          ul{
            list-style: none;
          }
        }


        &:hover{
          background-color: $secondary-color;
        }
      }
    }
  }


  .pages-buttons{
    @extend .flex-center;
    padding: .5rem;
    gap: 1rem;
    
    button{
      @extend .flex-center;
      border: none;
      font-size: 1.2rem;
      padding: .5rem;
      cursor: pointer;
      transition: all ease .3s;
      
      &:hover{
        background-color: $sub-color;
        color: #FFF;
        border-radius: 5px;
      }
    }
  }
}


@media (max-width: 900px) {
  .product-list {
    padding: 20px;

    table {
      width: max-content;
      thead {
        tr {
          th {
            font-size: .7rem;
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 1.2rem 0;
            font-size: .7rem;

            .pdf-icon {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    .pages-buttons {
      gap: .7rem;

      button {
        font-size: 1rem;
      }
    }
  }
}
