$white: #FFF;
$black: #121212;

$primary-50: #88b5d7;
$primary-200: #71c0eb;
$primary-300: #00acdd;
$primary-700: #0070ac;
$primary-900: #004469;

$secondary-50: #f1f1f1;
$secondary-100: #e5e5e5;
$secondary-150: #dddada;
$secondary-200: #cec8c8;
$secondary-250: #c5c5c5;
$secondary-300: #98989d;
$secondary-350: #6c6b6e;
$secondary-400: #5e587c;
$secondary-450: #5E517C;
$secondary-600: #2e3646;
$secondary-700: #272e3c;
$secondary-800: #212733;
$secondary-900: #1b222b;