.searchContainer {
    display: flex;
    align-items: center;

    gap: 20px;

    width: 100%;

    height: 40px;
}

.searchContainerTwo {
    display: flex;
    align-items: center;

    gap: 10px;
}

.filterItem {
    cursor: pointer;

    padding: 3px 10px;

    border-radius: 3px;

    border: 1px solid var(--table-border);

    transition: all 100ms ease-in-out;
}
.filterItem:hover {
    background-color: var(--table-hover);
}

@media (max-width: 810px) {
    .searchContainer {
        display: none;
    }
}
