.header {
  background-color: transparent;
  height: 50px;
  margin: 1% 2%;
}

img {
  width: 85px;
  float: right;
}

.App {
  text-align: center;
  background-color: white;
  margin: 0 5%;
  padding: 2% 0;
  border-radius: 5px;
  min-height: 400px;
}

#divBusca{
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  padding: 5px 15px;
  box-shadow: 0px 0px 15px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
  width: 300px;
  float: right;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: rgba(243, 106, 62, 1);
}

.botao-download {
  position: fixed;
  right: 30px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  background-color: #e74c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  color: rgb(245, 241, 241) !important;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
}