$primary-color: #FFFFFF;
$secondary-color: #86BC42;
$sub-color: #232323;
$font-regular: 400;
$font-bold: 700;
$font-style-italic: italic;

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
};