@import "../../../styles/colors";
@import "../../../styles/mixins";


.button {
  @include flexCenter;
  gap: 0.5rem;

  font-weight: 500;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: $primary-700;

  &:hover {
    opacity: 0.8;
  }

  &.widthFull{
    width: 100%;
  }

  &.circle {
    border-radius: 2000px;
    padding: 0.3rem;
  }

  .icon {
    @include flexCenter;

    svg {
      font-size: 20px;
      color: $white;
    }
  }
}