.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--mainThemeColor);
  padding: 8px 0px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

  .header-logo {
    width: 124px;
  }
}
