@use '../../../../styles/variables' as variables
@use '../../../../styles/mixin' as mixin
@use '../../../../styles/media' as media

.container
    display: flex
    justify-content: space-evenly
    align-items: center
    padding: 4rem 11rem

    @include media.max-width(extra-large)
        padding: 4rem 2rem

    @include media.max-width(large)
        justify-content: space-between

.filterSelect
    width: 9.3rem
    height: 2.5rem
    padding: 0.5rem 1rem
    border: 1px solid #99B933
    border-radius: 1rem
    outline: none
    cursor: pointer

.containerMedicine
    width: 18rem
    height: 26.8rem
    margin-top: 1rem
    border-radius: 0.25rem
    border: 1px solid variables.$border-color
    overflow-y: auto
    overflox-x: hidden

.medicineNameBox
    display: flex
    align-items: center
    height: 4.5rem
    padding: 0 1.5rem
    background: variables.$custom-background-1
    cursor: pointer

.selectedMedicine
    background: variables.$custom-background-2

.brandImage
    width: 3rem
    height: 3rem
    margin-right: 0.87rem
    border-radius: 100%
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)

.medicineName
    font-size: 1rem
    color: variables.$text-dark
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.pagination
    display: flex
    justify-content: center
    margin-top: 1rem

.activeBtn
    padding: 0.5rem
    border: none
    background: variables.$button-color
    color: variables.$background-dark
    cursor: pointer

.btnNotActive
    background: variables.$border-color
    padding: 0.5rem
    border: none
    color: variables.$text-dark
    cursor: pointer

.active
    padding: 0.5rem
    border: none
    background: variables.$custom-background-2
    color: variables.$text-dark
    cursor: pointer

.disabledBtn
    padding: 0.5rem
    border: none
    background: variables.$custom-background-2
    color: variables.$text-dark
    cursor: pointer
    opacity: 0.5
