@use '../../../../styles/variables' as variables
@use '../../../../styles/mixin' as mixin
@use '../../../../styles/media' as media

.containerHero
    @include mixin.center
    height: 17rem
    background: url('../../../../assets/bg-hero.svg')
    background-repeat: no-repeat
    background-size: cover

    @include media.max-width(extra-large)
        @include mixin.paddingMobile

.formSearch
    position: relative

    @include media.max-width(xsmall)
        width: 100%

.inputSearch
    @include mixin.size(33rem, 3rem)
    padding: 0 1.5rem
    border: 2px solid variables.$button-color
    border-radius: 3rem
    outline: none
    @include mixin.fontStyle (1rem, 400, variables.$text-light)

    &::placeholder
        @include mixin.fontStyle (0.8rem, 400, variables.$text-light)
        opacity: 0.5

    @include media.max-width(large)
        width: 24rem

    @include media.max-width(xsmall)
        width: 100%

.searchBtn
    @include mixin.size(2.4rem, 3rem)
    @include mixin.absolute(0, 0)
    border: none
    border-radius: 0 3rem 3rem 0
    background: transparent
    cursor: pointer

    img
        @include mixin.size(1.3rem, 1.3rem)
