@import '../../index.scss';
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 4rem;
    background-color: $MainBlue;

    h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;

        color: $MainWhite;
    }
}