@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.color-white {
  color: #e6f5f2;
}

.color-white-dark {
  color: #d5e8e4;
}

.primary-green {
  color: #259d80;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  padding: 96px 24px;
}
@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.disappear {
  display: block;
}
@media screen and (max-width: 540px) {
  .disappear {
    display: none;
  }
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-item-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 360px;
          flex: 1 1 360px;
}
@media screen and (max-width: 960px) {
  .flex-item-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 180px;
            flex: 1 1 180px;
  }
}

.flex-item-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 360px;
          flex: 2 1 360px;
}
@media screen and (max-width: 960px) {
  .flex-item-2 {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 180px;
            flex: 2 1 180px;
  }
}

.flex-item-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 360px;
          flex: 3 1 360px;
}
@media screen and (max-width: 960px) {
  .flex-item-3 {
    -webkit-box-flex: 3;
        -ms-flex: 3 1 180px;
            flex: 3 1 180px;
  }
}

.flex-item-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 360px;
          flex: 4 1 360px;
}
@media screen and (max-width: 960px) {
  .flex-item-4 {
    -webkit-box-flex: 4;
        -ms-flex: 4 1 180px;
            flex: 4 1 180px;
  }
}

.flex-item-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 360px;
          flex: 5 1 360px;
}
@media screen and (max-width: 960px) {
  .flex-item-5 {
    -webkit-box-flex: 5;
        -ms-flex: 5 1 180px;
            flex: 5 1 180px;
  }
}

.flex-item-auto {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 auto;
          flex: 5 1 auto;
}
@media screen and (max-width: 960px) {
  .flex-item-auto {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.flex-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.m-auto {
  margin: 0 auto;
}

.w-auto {
  width: auto;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.hidden {
  overflow: hidden;
}

.bt-gray {
  border-top: 1px solid #888a8c;
}

.bb-gray {
  border-bottom: 1px solid #888a8c;
}

.cards-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 960px) {
  .cards-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card {
  width: 300px;
  height: 450px;
  padding: 24px;
  border: 2px solid #259d80;
  border-radius: 12px;
  background: linear-gradient(46deg, #d5e8e4 0%, #f2faf8 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (max-width: 540px) {
  .search-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
}

@media screen and (max-width: 960px) {
  .hero-svg {
    width: 150%;
  }
}
@media screen and (max-width: 540px) {
  .hero-svg {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .hero-text {
    margin-top: 96px;
  }
}
@media screen and (max-width: 540px) {
  .hero-text {
    margin-top: 32px;
  }
}

h1 {
  color: #0d0f0e;
  font-family: "Sora";
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Sora";
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
  }
}

h2 {
  color: #0d0f0e;
  font-family: "Sora";
  font-weight: 400;
  font-size: 52px;
  line-height: 110%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Sora";
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
  }
}

h3 {
  color: #0d0f0e;
  font-family: "Sora";
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Sora";
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
  }
}

h4 {
  color: #0d0f0e;
  font-family: "Sora";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Sora";
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  color: #0d0f0e;
  font-family: "Sora";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Sora";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}

h6 {
  color: #0d0f0e;
  font-family: "Sora";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
@media screen and (max-width: 960px) {
  h6 {
    font-family: "Sora";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}

p {
  color: #595a5c;
  font-family: "Sora";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Sora";
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
}

.weight-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.weight-light {
  font-weight: 300;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.error {
  font-family: "Sora";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #db2c2c;
  margin-top: 8px;
}
@media screen and (max-width: 960px) {
  .error {
    font-family: "Sora";
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
}

.hero-svg-subtitle {
  cursor: default;
  color: #41d1ae;
  font-size: 12px !important;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 40px;
}

.mt-6 {
  margin-top: 48px;
}

.mt-7 {
  margin-top: 56px;
}

.mt-8 {
  margin-top: 64px;
}

.mt-9 {
  margin-top: 72px;
}

.mt-10 {
  margin-top: 80px;
}

.mt-11 {
  margin-top: 96px;
}

.mt-12 {
  margin-top: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mb-7 {
  margin-bottom: 56px;
}

.mb-8 {
  margin-bottom: 64px;
}

.mb-9 {
  margin-bottom: 72px;
}

.mb-10 {
  margin-bottom: 80px;
}

.mb-11 {
  margin-bottom: 96px;
}

.mb-12 {
  margin-bottom: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 24px;
}

.ml-4 {
  margin-left: 32px;
}

.ml-5 {
  margin-left: 40px;
}

.ml-6 {
  margin-left: 48px;
}

.ml-7 {
  margin-left: 56px;
}

.ml-8 {
  margin-left: 64px;
}

.ml-9 {
  margin-left: 72px;
}

.ml-10 {
  margin-left: 80px;
}

.ml-11 {
  margin-left: 96px;
}

.ml-12 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

.mr-4 {
  margin-right: 32px;
}

.mr-5 {
  margin-right: 40px;
}

.mr-6 {
  margin-right: 48px;
}

.mr-7 {
  margin-right: 56px;
}

.mr-8 {
  margin-right: 64px;
}

.mr-9 {
  margin-right: 72px;
}

.mr-10 {
  margin-right: 80px;
}

.mr-11 {
  margin-right: 96px;
}

.mr-12 {
  margin-right: 128px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-5 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-6 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-7 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.my-8 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.my-9 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-10 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-11 {
  margin-top: 96px;
  margin-bottom: 96px;
}

.my-12 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 24px;
  margin-right: 24px;
}

.mx-4 {
  margin-left: 32px;
  margin-right: 32px;
}

.mx-5 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-6 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-7 {
  margin-left: 56px;
  margin-right: 56px;
}

.mx-8 {
  margin-left: 64px;
  margin-right: 64px;
}

.mx-9 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-10 {
  margin-left: 80px;
  margin-right: 80px;
}

.mx-11 {
  margin-left: 96px;
  margin-right: 96px;
}

.mx-12 {
  margin-left: 128px;
  margin-right: 128px;
}

.m-0 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.m-1 {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.m-2 {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.m-3 {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.m-4 {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
}

.m-5 {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.m-6 {
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 48px;
  margin-right: 48px;
}

.m-7 {
  margin-top: 56px;
  margin-bottom: 56px;
  margin-left: 56px;
  margin-right: 56px;
}

.m-8 {
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 64px;
  margin-right: 64px;
}

.m-9 {
  margin-top: 72px;
  margin-bottom: 72px;
  margin-left: 72px;
  margin-right: 72px;
}

.m-10 {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 80px;
  margin-right: 80px;
}

.m-11 {
  margin-top: 96px;
  margin-bottom: 96px;
  margin-left: 96px;
  margin-right: 96px;
}

.m-12 {
  margin-top: 128px;
  margin-bottom: 128px;
  margin-left: 128px;
  margin-right: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 24px;
}

.pt-4 {
  padding-top: 32px;
}

.pt-5 {
  padding-top: 40px;
}

.pt-6 {
  padding-top: 48px;
}

.pt-7 {
  padding-top: 56px;
}

.pt-8 {
  padding-top: 64px;
}

.pt-9 {
  padding-top: 72px;
}

.pt-10 {
  padding-top: 80px;
}

.pt-11 {
  padding-top: 96px;
}

.pt-12 {
  padding-top: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 24px;
}

.pb-4 {
  padding-bottom: 32px;
}

.pb-5 {
  padding-bottom: 40px;
}

.pb-6 {
  padding-bottom: 48px;
}

.pb-7 {
  padding-bottom: 56px;
}

.pb-8 {
  padding-bottom: 64px;
}

.pb-9 {
  padding-bottom: 72px;
}

.pb-10 {
  padding-bottom: 80px;
}

.pb-11 {
  padding-bottom: 96px;
}

.pb-12 {
  padding-bottom: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 24px;
}

.pl-4 {
  padding-left: 32px;
}

.pl-5 {
  padding-left: 40px;
}

.pl-6 {
  padding-left: 48px;
}

.pl-7 {
  padding-left: 56px;
}

.pl-8 {
  padding-left: 64px;
}

.pl-9 {
  padding-left: 72px;
}

.pl-10 {
  padding-left: 80px;
}

.pl-11 {
  padding-left: 96px;
}

.pl-12 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 24px;
}

.pr-4 {
  padding-right: 32px;
}

.pr-5 {
  padding-right: 40px;
}

.pr-6 {
  padding-right: 48px;
}

.pr-7 {
  padding-right: 56px;
}

.pr-8 {
  padding-right: 64px;
}

.pr-9 {
  padding-right: 72px;
}

.pr-10 {
  padding-right: 80px;
}

.pr-11 {
  padding-right: 96px;
}

.pr-12 {
  padding-right: 128px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-5 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-6 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-7 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.py-8 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.py-9 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-10 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-11 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.py-12 {
  padding-top: 128px;
  padding-bottom: 128px;
}

.px-0 {
  padding-left: 0;
  padding-bottom: 0;
}

.px-1 {
  padding-left: 8px;
  padding-bottom: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-4 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-5 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-6 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-7 {
  padding-left: 56px;
  padding-right: 56px;
}

.px-8 {
  padding-left: 64px;
  padding-right: 64px;
}

.px-9 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-10 {
  padding-left: 80px;
  padding-right: 80px;
}

.px-11 {
  padding-left: 96px;
  padding-right: 96px;
}

.px-12 {
  padding-left: 128px;
  padding-right: 128px;
}

.p-0 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.p-1 {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.p-2 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.p-3 {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.p-4 {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.p-5 {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.p-6 {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 48px;
  padding-right: 48px;
}

.p-7 {
  padding-top: 56px;
  padding-bottom: 56px;
  padding-left: 56px;
  padding-right: 56px;
}

.p-8 {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 64px;
  padding-right: 64px;
}

.p-9 {
  padding-top: 72px;
  padding-bottom: 72px;
  padding-left: 72px;
  padding-right: 72px;
}

.p-10 {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

.p-11 {
  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: 96px;
  padding-right: 96px;
}

.p-12 {
  padding-top: 128px;
  padding-bottom: 128px;
  padding-left: 128px;
  padding-right: 128px;
}

a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: #141615;
  font-family: "Sora";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
a:hover {
  opacity: 0.8;
}

.primary-button {
  cursor: pointer;
  padding: 12px 16px;
  text-align: center;
  background: linear-gradient(225deg, #0a8c6d 0%, #04634d 100%);
  border: 0;
  border-radius: 8px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: #e6f5f2;
  font-family: "Sora";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  .primary-button {
    font-family: "Sora";
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
}
.primary-button:hover {
  opacity: 0.7;
  -webkit-box-shadow: 2px 3.249px 3.46px 0px rgba(12, 95, 178, 0.03), 2px 5.466px 6.123px 0px rgba(12, 95, 178, 0.05), 2px 6.855px 8.272px 0px rgba(12, 95, 178, 0.07), 2px 7.733px 10.387px 0px rgba(12, 95, 178, 0.07), 2px 8.82px 13.598px 0px rgba(12, 95, 178, 0.09), 2px 14px 24px 0px rgba(12, 95, 178, 0.12);
          box-shadow: 2px 3.249px 3.46px 0px rgba(12, 95, 178, 0.03), 2px 5.466px 6.123px 0px rgba(12, 95, 178, 0.05), 2px 6.855px 8.272px 0px rgba(12, 95, 178, 0.07), 2px 7.733px 10.387px 0px rgba(12, 95, 178, 0.07), 2px 8.82px 13.598px 0px rgba(12, 95, 178, 0.09), 2px 14px 24px 0px rgba(12, 95, 178, 0.12);
}

.download-btn {
  cursor: pointer;
  padding: 12px 48px 12px 16px;
  text-align: center;
  background: linear-gradient(225deg, #0a8c6d 0%, #04634d 100%);
  border: 0;
  border-radius: 8px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: #e6f5f2;
  position: relative;
  font-family: "Sora";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  .download-btn {
    font-family: "Sora";
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
}
.download-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%) translate3d(8px, 0, 0);
          transform: translate(-50%, -50%) translate3d(8px, 0, 0);
  background-image: url("../assets/download.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.download-btn:hover::after {
  top: 58%;
}

input {
  outline: none;
  width: 100%;
  padding: 12px 16px;
  background-color: #e6f5f2;
  color: #0d0f0e;
  border: 1px solid #888a8c;
  border-radius: 8px;
  accent-color: #259d80;
  font-family: "Sora";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  input {
    font-family: "Sora";
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
}
input:focus {
  border: 1px solid #259d80;
}

.input-container {
  width: 550px;
}
@media screen and (max-width: 540px) {
  .input-container {
    width: 100%;
  }
}

label {
  color: #0d0f0e;
  font-weight: 600 !important;
  font-family: "Sora";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  label {
    font-family: "Sora";
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
}

.pagination-buttons {
  cursor: pointer;
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  border: 2px solid #259d80;
  background: transparent;
  border-radius: 8px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-family: "Sora";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  .pagination-buttons {
    font-family: "Sora";
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
}
@media screen and (max-width: 540px) {
  .pagination-buttons {
    width: 48px;
    height: 48px;
  }
  .pagination-buttons svg {
    width: 32px;
    height: 32px;
  }
}
.pagination-buttons:hover {
  border: 2px solid #04634d;
  background: #04634d;
  color: #f2faf8;
}
.pagination-buttons:hover svg path {
  fill: #f2faf8;
}

.pagination-buttons.active {
  border: 2px solid #04634d;
  background-color: #04634d;
  color: #f2faf8;
}

.page-primary {
  width: 56px;
  height: 56px;
  text-align: center;
  padding: 16px;
  background: linear-gradient(225deg, #0a8c6d 0%, #04634d 100%);
  border: 0;
  border-radius: 8px;
  color: #f2faf8;
}

.page-secondary {
  width: 56px;
  height: 56px;
  text-align: center;
  padding: 16px;
  border: 2px solid #259d80;
  border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: #f2faf8;
  position: relative;
}

svg,
img {
  width: 100%;
  display: block;
}

header {
  width: 100%;
  height: 72px;
  position: fixed;
  background-color: #04634d;
  z-index: 999;
}

.nav-desktop {
  padding: 10px 24px;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 48px;
  height: 48px;
}

footer {
  width: 100%;
  background-color: #04634d;
}

.logo-footer {
  width: 163px;
  height: 48px;
}

.back-to-top {
  color: #f2faf8;
  padding: 16px 48px 16px 12px;
  position: relative;
}
.back-to-top::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%) translate3d(8px, 0, 0);
          transform: translate(-50%, -50%) translate3d(8px, 0, 0);
  background-image: url("../assets/arrow-up.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.back-to-top:hover::after {
  top: 40%;
}

.border {
  border: 1px solid red;
}/*# sourceMappingURL=style.css.map */