@use './sass/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header{
  @extend .flex-center;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: $secondary-color;
}

section{
  max-width: 1000px;
  margin: 1rem auto;
  padding: 1rem;
}