main {
  display: flex;
  height: 200px;
  width: calc( 100% - 40px );
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 18px 0 18px 0;
  input {
    width: calc( 100% - 40px );
    max-width: 900px;
    height: 35px;
    
    outline: 0;
    border-radius: 4px;
    border: 1px solid #dedede;
  }
}