@use '@/styles/variables' as *;

.medItem {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 15px;
	border-bottom: solid 1px $sandBg;

	@media (max-width: $screen-mobile) {
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 15px;
	}
}

.medItemInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	text-transform: uppercase;

	p {
		margin-bottom: 5px;
	}

	.medName {
		margin-bottom: 15px;
	}

	.mobileTitle {
		display: none;

		@media (max-width: $screen-mobile) {
			display: block;
		}
	}
}

.medDate {
	padding-left: 30px;

	@media (max-width: $screen-mobile) {
		padding-left: 0;
	}
}

.medDownload {
	display: flex;
	gap: 20px;
	width: 275px;
	justify-content: center;
	align-items: center;

	@media (max-width: $screen-mobile) {
		margin-bottom: 15px;
	}

	.downloadLink {
		background-color: $translucidBlack;
		border-radius: 8px;
		border-width: 0;
		color: $black;
		cursor: pointer;
		display: inline-block;
		font-weight: 500;
		padding: 10px 12px;
	}
}
