@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --primary-color: #86bc42;
  --secondary-color: #dee2e6;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

body {
  background-color: cornflowerblue;
  color: #212529;
  height: fit-content;
}

