@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import 'table';
@import 'pagination';
@import 'documents';
@import 'filters';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

    ul {
        list-style: none;
    }
}

main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 0;

    h2 {
        margin-bottom: 5px;
    }

    p {
        margin-bottom: 50px;
    }
}