@use '../../styles/media' as media
@use '../../styles/variables' as variables
@use '../../styles/mixin' as mixin

.container
    @include mixin.occupyScreen
    padding: 4rem 11rem

    @include media.max-width(extra-large)
        padding: 4rem 2rem

.titleSearch
    margin-bottom: 2rem
    text-align: center
    @include mixin.fontStyle (2rem , 700 , variables.$text-dark)

    @include media.max-width(large)
        font-size: 1.5rem

.searchItems
    display: grid
    grid-template-columns: repeat(2, 1fr)
    justify-items: center
    gap: 1rem

    @include media.max-width(large)
        grid-template-columns: 1fr
        justify-items: start
