$background-light: #f7feee
$background-dark: #fff
$background-highlight: 91deg, #a2dc5a 1.48%, #c6e998 101.87%

$text-light: #132101
$text-dark: #000

$button-color: #599310

$border-color: #99b933

$custom-background-1: #f6fae7
$custom-background-2: #eaf9ba
